/* 
reset css
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
 start style 
*/


.body {
    direction: rtl;
}

.continer {
    padding: 0 72px;

}


/*
 cart color class in figma 
 */


.blue-g {
    color: #01CBF5;
}

.yellow-g {
    color: #FFC700;
}

.blue-h-g {
    color: #5A57FF;
}

.red-g {
    color: #E32B01;
}


 /*
  start style heder bottom 
  */


.heder-bottom {
    width: 100%;
    height: 614px;
}


/*
 start style heder bottom top div 
 */


.hb-top {
    width: 100%;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hb-top-div {
    position: relative;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.hp-top-title {
    margin-top: 58px;
    color: #333;
    font-family: IRANYekanWeb(FaNum);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hp-top-svg {
    margin-top: 15px;
}


/*
 start style heder bottom , bottom div 
 */


.hb-bottom {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


/*
 start carts in bottom heder 
 */


.hb-cart {
    width: 306px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 6px 30px 0px rgba(41, 51, 86, 0.10);
    margin-left: 10px;
    margin-top: 15px;

}
.hb-cart:hover{
    box-shadow: 0px 0px 5px 3px rgba(41, 51, 86, 0.10);
}


/*
 carts hder 
 */


.hb-cart-heder {
    width: 100%;
    height: 129px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hb-cart-heder-logo {
    margin-left: 20px;
}

.hb-cart-heder-title {
    height: 25px;
    flex-shrink: 0;
    font-family: Yekan Bakh;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
}


/*

 carts footer 

 */


.hb-cart-foter {
    display: flex;
    justify-content: center;
}

.hb-cart-foter-p {
    width: 247px;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: IRANYekanWeb(FaNum);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


/*

 media tags

*/


@media only screen and (max-width: 1120px) {
    .hb-bottom {
        justify-content: space-evenly;
    }
    .hb-cart{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 775px) {
    .hb-bottom {
        justify-content: center;
    }
    .hb-cart{
        margin-top: 30px;
    }
}


/*

 end style heder bottom 

*/